# Dependencies
node_modules
.pnpm-store

# Build
dist
.next
.next-e2e
.turbo
out

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# Testing
coverage
playwright-report
test-results

# Husky (generated helpers)
.husky/_

# Misc
*.tsbuildinfo
